/* Sets all the text color to red! */
.journey-input-text, .journey-input-button {
    width: 100%;
    height: 50px !important;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 20px;
}

.journey-input-text-start {
    background-color: darkgreen;
    border: 3px solid forestgreen;
}

.journey-input-text-end {
    background-color: darkgreen;
    border: 3px solid forestgreen;
}

.journey-input-button {
    background-color: black;
    color: white;
}

.journey-result-list-item, .journey-result-list-item-start, .journey-result-list-item-end {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555;
    border: 5px solid #777;
    border-radius: 10px 10px 10px 10px;
}

.journey-result-list-item-start {
    background-color: darkgreen;
    border: 3px solid forestgreen;
}

.journey-result-list-item-end {
    background-color: darkred;
    border: 3px solid brown;
}

.journey-result-list-reset-link {
    color: #ccc;
    text-align: center;
}