/* Sets all the text color to red! */
.journey-input-text, .journey-input-button {
    width: 100%;
    height: 50px !important;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 20px;
}

.journey-input-button {
    background-color: black;
    color: white;
}

.journey-result-list-item, .journey-result-list-item-start, .journey-result-list-item-end {
    font-size: 24px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: black;
}

.journey-result-list-item-start {
    border: 1px solid darkgreen;
}

.journey-result-list-item-end {
    border: 1px solid darkred;
}
